@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims;

<div class="jumbotron">

    <div style="display:flex;justify-content:flex-end;">
        <div><a href="/Conta/EncerrarSessao">Encerrar Sessão</a></div>
    </div>
</div>